<% content_for(:body_attributes) do %>
  data-turbolinks="false"
<% end %>


<div class="row m-4">
  <div class="col-6"><h1>Tags</h1></div>
  <div class="col-6 justify-content-end text-right">
    <%= link_to 'Back To Books', books_path, class: 'btn btn-info m-4', 'data-turbolinks': "false" %>
  </div>
</div>

<div class="row m-4">
  <div class="col-12">
    <%= form_with(url: update_tags_books_path, method: :post, local: true) do |form| %>
      <%= form.label :tag_list  %>
      <%= form.text_field :tag_list,value: Tag.names.join(','),'data-role': 'tagsinput' %>
      <hr />
      <%= form.label :books_to_assign_label %>
      <table class="table table-bordered table-sm">
        <% @objects.each do |object| %>
          <tr>
            <td> <%= label_tag :taggables, object %></td>
            <td><%=  object.description %></td>
            <td><%=  check_box_tag 'taggables[]', object.id, false %></td>
          </tr>


        <% end %>
      </table>


      <%= form.submit %>

    <% end %>
  </div>
</div>










